<p>
  <a routerLink="/comp1/comp1-sub1" routerLinkActive="active">Compoment 1 Sub 1</a>
  <a routerLink="/comp1/comp1-sub2" routerLinkActive="active">Compoment 1 Sub 2</a>
  <a routerLink="/comp1/comp1-sub3" routerLinkActive="active">Compoment 1 Sub 3</a>
  <a routerLink="/comp2/comp2-sub1" routerLinkActive="active">Compoment 2 Sub 1</a>
  <a routerLink="/comp2/comp2-sub2" routerLinkActive="active">Compoment 2 Sub 2</a>
  <a routerLink="/comp2/comp2-sub3" routerLinkActive="active">Compoment 2 Sub 3</a>
</p>
